body {
  font-family: unset;
  font-style: oblique;
}

header {
  margin-top: 10em;
}

img {
  height: 11em;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
}

a {
  color: black;
  text-decoration: none !important;
}

.menu-title {
  cursor: pointer;
  transition: color 0.6s;
  -webkit-transition: color 0.6s;
}

.menu-title:hover {
  color: #9C6ADE;
}

i {
  color: #9C6ADE;
}

img.portfolio {
  box-shadow: 5px 5px 2px gainsboro;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
}

img.portfolio:hover {
  opacity: 0.8;
}
